.textarea-container{
    display: block;
    position: relative;
    /* width: 100%; */
}
/* .textarea-container label{
    width: 100%;
} */
.history_label{
    display: block;
    /* margin-bottom: 10px; */
}
.counter{
    position: absolute;
    bottom: 8px;
    left: 10px;
    font-size: 12px;
}
.med_counter{
    position: absolute;
    bottom: 8px;
    left: 10px;
    font-size: 12px;
}